{% extends 'kingadmin/base/base.html' %}
{% load static %}

{% block css %}
  <link rel="stylesheet" href="{% static 'lib/formSelects/formSelects-v4.css' %}">
  <style>
    .error {
      color: red;
      margin-bottom: 5px;
      margin-top: 2px;
    }
  </style>
{% endblock %}

{% block content %}

  <div class="layui-row">
    <div class="layui-col-sm8 layui-col-sm-offset2">

      <form class="layui-form layui-form-pane" novalidate>
        {% for field in fields %}
          <label for="{{ field.id_for_label }}" class="layui-form-label">
            {% if field.field.required %}
              <span class="x-red">*</span>
            {% endif %}
            {{ field.label }}
          </label>

          <div class="layui-input-block">
            {{ field }}
            <div class="error"></div>
          </div>

        {% endfor %}

        <div class="layui-form-item">
          <button class="layui-btn" lay-filter="add" lay-submit="">提交</button>
        </div>

      </form>

    </div>
  </div>

{% endblock %}

{% block js %}
  <script src="{% static 'lib/formSelects/formSelects-v4.min.js' %}"></script>
  <script>
      layui.use(['form', 'layer', 'laydate'],
          function () {
              $ = layui.jquery;
              var form = layui.form,
                  laydate = layui.laydate,
                  layer = layui.layer;

              $("input").addClass("layui-input");

              //日期表单控制
              {% for field in datetime_fields%}
                  laydate.render({
                      elem: '#{{ field.elem }}'
                      , type: '{{ field.type }}'
                  });
              {% endfor %}


              var formSelects = layui.formSelects;
              $("select[multiple='multiple']").each((index, element) => {
                  let id = $(element).attr("id");
                  $(element).attr("xm-select", id);
                  formSelects.render(id);
              });


              //监听提交
              form.on('submit(add)',
                  function (data) {
                      $("input").siblings(".error").text("");

                      data.field["csrfmiddlewaretoken"] = '{{ csrf_token }}';
                      $("select[multiple='multiple']").each((index, element) => {
                          let name = $(element).attr("_name");
                          let id = $(element).attr("id");
                          data.field[name] = formSelects.value(id, 'val');
                      });

                      console.log(data.field);

                      $.ajax({
                          url: '{{ add_change_url }}',
                          method: 'POST',
                          data: data.field,
                          traditional: true,
                          success: function (res) {
                              console.log(res);
                              if (res.code === 200) {
                                  layer.alert(res.msg, {
                                          icon: 6
                                      },
                                      function () {
                                          // 获得frame索引
                                          let index = parent.layer.getFrameIndex(window.name);
                                          //关闭当前frame
                                          parent.layer.close(index);
                                          parent.location.reload();
                                      });
                              } else {
                                  layer.alert(res.msg, {icon: 5});
                                  $.each(res.errors, function (field, val) {
                                      $("#id_" + field).siblings(".error").text(val);
                                  });
                              }
                          }
                      });

                      return false;
                  }
              );

          })
      ;
  </script>
{% endblock %}


